*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather Sans', sand-serif;
}

:root {
    --colorDark1: #112D4E;
    --colorDark2: #3F72AF;
    --colorLight1: #DBE2EF;
    --colorLight2: #F9F7F7;
}

#wrapper{
    width: 100vw;
    height: 100vh;
    color: var(--colorLight2);
    background-image:  linear-gradient(160deg, #112d4e 0%, #3f72af 100%);


}